body,html,div,ul,li,a,p{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-size: 16px;
	font-style: normal;
	font-family: "微软雅黑";
	color: #333333;
}
a{
	color: #333333;
}
.font_size_20{
	font-size: 20px;
}
.font_size_30{
	font-size: 30px;
}
.main_color{
	color: #3C78FF;
}
.font_size_14{
	font-size: 14px;
}
.font_size_12{
	font-size: 12px;
}
a:hover {
	text-decoration: none;
	color: #333333;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.center_left{
	display: flex;
	align-items: center;
}
.jus_center{
	display: flex;
	justify-content: center;
}
.ali_center{
	display: flex;
	align-items: center;
}
.flex_box{
	display: flex;
}
.flex_item1{
	flex: 1;
}
.flex_item2{
	flex: 2;
}
.flex_item3{
	flex: 3;
}
.flex_item4{
	flex: 4;
}
.img{
	width:100%;
	height:100%;
}
.activeClass{
	color: orange;
}
.border_top{
	border-top:1px solid #CCCCCC;
}
.nowrap{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.margin_top_25{
	margin-top: 25px;
}

